#!/bin/bash

# Script that fetches latest reports from PI
# This assumes that the local user running this script
# has SSH-keys to the server in question

# Path to reports on PI
reports_path="/localdisk/ftp/reports/Inventory"

# Where do we want to copy reports locally?
archive_path="/some/path/aplol/files/reports"

# Calculate number of files that we want to fetch
# Done by calculating unique Virtual Domains present in the files

# beregne antall filer som skal hentes
# gjøres ved å beregne unike Virtual Domains som finnes
vd_count=$(ssh reports@optimus-prime.foobar.com ls -1 $reports_path|perl -wple 's/^(AP\-count\_[a-zA-Z\-\_]+)\_[0-9]{4}.+$/$1/'|sort|uniq|wc -l)

# We have a number. Let's copy that many reports.
ssh reports@optimus-prime.foobar.com ls -t $reports_path|head -$vd_count|while read report_file; do

	scp -p "reports@optimus-prime.foobar.com:$reports_path/$report_file" "$archive_path/new/"

done

# Done
