############  aplol START ############
# Update DB with stuff from PI API
*/5 * * * * perl /some/path/aplol/aplol-ciscopi-aps.pl

# Update DB with count
01 * * * * perl /some/path/aplol/aplol-count.pl

# Update AP-groups for all AP's
10 * * * * perl /some/path/aplol/aplol-apgroups.pl

# Update AD-LDS with stuff from DB (our DB is authorative)
29 * * * * perl /some/path/aplol/aplol-adlds.pl
############ aplol STOP ############

